body{
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-size: 100%;

}

/* img {
  max-width: 25%;
  height: auto;
} */

h1{
  font-size: 5rem;
  margin:50px,auto,0px,auto;
  font-family: 'Sacramento', cursive;
  color: #151D3B;
  line-height: 2;
}

h2{
  font-size:2.5rem;
  color:#051367 ;
  font-weight: bold;

}

h3{
  font-size: 1.5rem;
  color: #11999E;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}

.dotted-line{
  border-style: none none dotted none;
  width: 10%;
  height: 2px;
  border-width: 6px;
}

.top-container{
  padding-top:100px;
  background-color: #A6CF98;

}

.middle-container{
  background-color: #F2FFE9;

}

.bottom-container{
  padding: 20px ;
  background-color:#A6CF98;
  color:#051367;;

}

.bottom-cloud{
  position: absolute;
}

.top-cloud{
  position: relative;
  left:250px;
}

.webde-img{
  width: 25%;
  float: left;
  margin-right:30px;
}

.python-img{
  width:25%;
  float: right;
  margin-right:30px;

}

.weight_lifting-img{
  width: 25%;
  float: left;
  margin-right:30px;
}

.contact-me{
  padding: 25px;

}

.msg{
  padding-bottom: 30px;

}

.footer-link{
  color:#051367;
}
.btn {
  -webkit-border-radius: 19;
  -moz-border-radius: 19;
  border-radius: 19px;
  font-family: Georgia;
  color: #1a2f30;
  font-size: 21px;
  background: #11999E;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn:hover {
  background: #0e868a;
  text-decoration: none;
}

.copyright{
  padding:0 auto 30px;
}
